[2016-11-10 17:54] garetmckinley opened #3 "Add more extensive documentation"
Currently the documentation is extremely lacking. All there is, is a basic usage example without much explanation. Each component and utility should be carefully documented listing all the accepted arguments along with expected outputs.

[2016-11-11 00:21] garetmckinley opened #5 "Implement unit testing"
Unit testing needs to be implemented at some point. These tests should be fairly extensive making sure that the components and utilities function as expected.

Some tests that need to be created:
- [ ] Make sure the `Row` component accepts the `divisions` prop
- [ ] Make sure the `Row` component applies the `divisions` prop to child `Columns` and `Rows`.
- [ ] Make sure the `Row` component __only_

[2016-11-11 16:28] stephenmathieson opened #8 "yarn.lock"
Should remove the `yarn.lock` file here. See https://medium.com/@boennemann/avoid-yarn-for-packages-and-fully-enjoy-its-benefits-for-application-development-8bdd4deb33cf#.m0v06nkbu for more info

[2016-11-11 16:39] garetmckinley commented on #8
Yeah that would be great. Originally I was under the impression it was as good thing to commit. Thanks for the reading material :+1:

[2016-11-11 17:43] #8 closed

[2016-11-11 18:34] stephenmathieson opened #11 "exported `utils` is inaccessible"
ffe0fdbf976e49100d271bb860a04283bbb2b848 broke the namespace:

<img width="299" alt="screen shot 2016-11-11 at 10 33 48" src="https://cloud.githubusercontent.com/assets/571265/20225852/5c452c70-a7fa-11e6-9da9-c62ae5163a6f.png">

[2016-11-11 18:36] garetmckinley commented on #11
What is the reason behind this? Still getting the hang of writing es6 modules. I thought the original syntax was wrong and corrected it to this after seeing [this](http://eslint.org/docs/rules/object-shorthand).

[2016-11-11 18:36] stephenmathieson commented on #11
Yep, had the wrong hash! You noticed this as soon as I did!

Looks like you fixed it. Thanks!!

[2016-11-11 18:36] #11 closed

[2016-11-11 18:36] garetmckinley commented on #11
Phew! I thought I broke something in my latest changes.

[2016-11-11 18:57] stephenmathieson commented on #11
Nope, my bad! Sorry for the false alarm

[2016-11-11 21:25] garetmckinley opened #14 "Refactor media utility"
Currently the media utility is not very DRY 🌵  at all. The little trick found here (styled-components/styled-components#182) should help clean this up a lot.

[2016-11-11 22:05] garetmckinley opened #15 "xs property on Column component doesn't work"
I noticed that I must have overlooked something in the `Column` component. It appears that the `xs` breakpoint was never properly hooked up to actually resize the `Column`. So as-is, a `Column` component will always be 100% width when the `xs` breakpoint is active.

This is going to be an easy fix, just saving it here so I don't forget it 👍

[2016-11-11 22:09] garetmckinley opened #16 "xsShift is not in the Column component's propTypes."
The `Column` component needs to accept the `xsShift` property. This is currently not listed among the other prototypes inside `components/Column.js`.

[2016-11-12 05:15] #14 closed

[2016-11-12 05:15] #15 closed

[2016-11-12 05:15] #16 closed

[2016-11-13 02:00] garetmckinley opened #22 "Integrate flow for type annotations"
In an effort to continue maturing this module, I would like to integrate Flow at some point. This isn't too high in terms of importance on my list, but I plan to get to it eventually.

Since this is relatively low priority *for me* personally, I'm labeling this as `help wanted`. All contributors will get properly credited in the `README` 😸

[2016-11-13 21:04] dpastoor opened #24 "using justifycontent/alignitems?"
Hi!

Love the simplicity of this. Was previously using radium grid and decided to give this a go for a small project and its been great. Absolutely love the debug mode.

One question, is there a way of controlling the other flexbox properties?

namely I'd like to do something like `styles={{justifyContent: 'center', alignItems: 'center'}}`

any ideas?

[2016-11-13 21:39] garetmckinley commented on #24
Hello,

Thanks for the kind words! Currently there is not, although there definitely needs to be support for it before long 😸

I'm going to go ahead and add this to the [v1.0.0 milestone](https://github.com/JSBros/hedron/milestone/1), so you should see it added to the library within the next month 🙌

[2016-11-14 10:14] garetmckinley commented on #3
I'm currently looking into [ESDoc](https://esdoc.org/esdoc/) as a possible solution for automatic documentation generation. Going to be doing more research into it to see if it's the best doc solution for this project.

[2016-11-14 14:42] conntsing opened #27 "does this can Support react-native"

[2016-11-14 20:16] garetmckinley commented on #27
As of right now, hedron is completely untested with `react-native`. I would definitely love to add support for it in the future, but I'm unable to do it myself right now.

If you, or any one else wants to step up and get hedron working in `react-native`, that would be amazing 😸

[2016-11-14 23:22] garetmckinley opened #28 "Direct descendants cannot be plain text"
This is only currently present in the master branch, not on the deployed npm version (0.2.0).

[code]

This triggers the above

[code]

This does not

[code]

There are no doubt going to be edge cases where you are going to want to place text as the first child under the grid.

The error is persistent on the `Page`, `Row`, and `Column` components (it has to do with the new `passOn` utility)

[2016-11-15 17:30] garetmckinley opened #29 "Implement an easy way to hide/show any component based on browser width"
Currently this is semi-possible if you are using `styled-components` in your project. You can simply import the (currently undocumented) `media` utility and use it like so:

[code]

This will toggle the `display: hidden` rule only when the screen size is `sm` or larger (resulting in it only being displayed on mobile).

The problem is, this requires elements to be encapsulated. Since to hide a butt

[2016-11-16 03:52] #28 closed

[2016-11-17 15:53] petehouston commented on #29
I'm thinking of setting up a prop with your above visibility wrapper components.

[code]

in `Column.constructor(props)`, loop through `props.children` to see if they have any `props.hidden` then either create a wrapper component like above you stated, or add a hidden style to `children.props`.

Not sure if it works. It just pops up on my mind.

[2016-11-17 17:59] garetmckinley commented on #29
That could work, but the problem is this will need to work for nested components and `props.children` only contains the immediate children in it. Do you know of an easy way to recursively iterate through `props.children`?

At this point I'm wondering if there's going to be a performance impact as well by doing it this way. Would definitely be a lot easier just adding a global style for `.hidden-xx

[2016-11-17 18:06] garetmckinley commented on #29
Maybe I'll just create a public component called `Hidden` and allow it to be used like..

[code]

I think I could also have an implementation that requires zero wrapper components. I think I could simply put a loop inside the `constructor` of the `Hidden` component that iterates through it's own children, applying a `hidden` style to them. It would also be the quickest computation wise, as it's `O

[2016-11-20 13:26] Harryandrew opened #35 "grids do not work on mobile? please help it is driving me crazy"
I would like to use Hedron in my project - the grid system works just as expected on desktop however mobile seems to completely ignore the grid system. Am I doing something wrong? Please see the attached image (not very helpful sorry) - also tested from my iPhone, the grid is not registering and rendering as `lg` desktop.

https://s22.postimg.org/pdgtfmi2p/Screen_Shot_2016_11_20_at_14_22_43.png

T

[2016-11-20 13:38] Harryandrew commented on #35
Great! I'm a dummy: I forgot to include the meta tag:

`<meta name="viewport" content="width=device-width, initial-scale=1">`

Sorry about that

[2016-11-20 13:38] #35 closed

[2016-11-23 03:13] garetmckinley commented on #35
Glad you were able to get it resolved! I should probably add that in the docs somewhere.

[2016-11-30 23:09] soenkekluth opened #38 "Demo page does not work on IE >= 10"
see  http://jsb.ro/hedron

[2016-11-30 23:12] soenkekluth commented on #38
so doesn't https://jsbros.github.io/uigradients/

console says:
[code]

[2016-11-30 23:34] garetmckinley commented on #38
Is the console error the same for both sites? I don't generally test on IE, I guess I'm going to have to start 💁

[2016-12-01 18:22] garetmckinley commented on #38
I got my Windows PC back up today and I was able to confirm this error. It seems to be because one of the libraries used requires the `string.startsWith()` method, which is not supported at all in IE. If I add a polyfill to the rollup configuration for it, we should be good on IE :ok_hand:

[2016-12-03 10:58] soenkekluth commented on #38
yo. fuck IE in general! but better go with it cause many clients use them. and well - a grid system is a major part of the site layout - so it should word on fuck ;)

[2016-12-03 17:54] garetmckinley commented on #38
Its not an issue with the grid system, just with the demo pages. Hedron functions as expected in IE versions supporting flexbox

[2016-12-03 18:38] garetmckinley opened #39 "Add a convenience component for generating <Row><Col/></Row>"
Since this is a flexbox system, it's required that the object inside the `Row` has proper flex properties, or it could be rendered incorrectly. This is why it's always best to the use only the `Col` component inside the `Row` component.

This causes a lot of extraneous code, as if we want to make a single-column `Row`, we have to type it out like

[code]

I think it could be beneficial if there wa

[2016-12-05 18:33] #24 closed

[2016-12-10 20:30] garetmckinley opened #43 "TypeError: ofTypes.includes is not a function in Node v5.11.1"
When integrating hedron into ViMD and testing on Travis-CI under node v5.11.1, I'm receiving the following error:

    TypeError: ofTypes.includes is not a function

      at node_modules/hedron/dist/hedron.js:7482:60
      at mapSingleChildIntoContext (node_modules/react/lib/ReactChildren.js:107:26)
      at traverseAllChildrenImpl (node_modules/react/lib/traverseAllChildren.js:77:5)
      at tra

[2016-12-16 17:27] jjstrat3 opened #44 "Fails on npm run build"
First off, great library @garetmckinley !

I just pulled down your library locally to do some hacking on it for the purpose of possibly contributing on some of the outstanding open issues.  It failed on executing `npm run build` on my machine.

Here's my steps after cloning your repo:

1. `yarn install`
2. `npm run build`

I get this output in my terminal:

[code]

Possibly an upstream dependency

[2016-12-16 18:25] garetmckinley commented on #44
Hello, thanks for the kind words! Sorry you're having those issues though, do you have either `eslint` or `babel` installed at a global scope? I'm going to test out a fresh clone of this repo on my other computer in the hopes I can duplicate the issue.

[2016-12-16 20:09] jjstrat3 commented on #44
@garetmckinley Np.  Don't have `eslint` or `babel` installed globally, just the `eslint-cli` npm module...which hasn't caused issues for me before with my own projects, but who knows. ;)
If it's relevant, I'm using `6.9.1` of `node` via `nvm`.

[2016-12-16 22:51] stephengfriend commented on #43
I ran into this issue on v4.3.2, as well. Is Hedron only compatible with `>= v6.x.x` ?

[2016-12-16 23:23] garetmckinley commented on #43
Hmm, nice to know it wasn't an isolated incident. Going to ramp up the priority on this and investigate it this coming week. I'm on the road all weekend so unable to do much till monday, I'll keep this thread updated 👍

[2016-12-16 23:38] garetmckinley commented on #44
OK, so I found a few interesting things!

On a fresh clone of the repo, I get identical output to you. However, my package is still compiled in the `dist/` subdir. Can you check and see if the same is true for you?

I can't seep to supress the `eslint-module-utils` error though, even after I run `npm install --save-dev eslint-module-utils`. I'm running node `v7.0.0`.

[2016-12-17 20:20] stephengfriend commented on #43
I think it's just an issue with `Array.prototype.includes` not existing. I'm testing this out with an `array-includes` shim.

[2016-12-18 16:08] stephengfriend commented on #43
I used `array-includes` package and added the following to my project entry...

[code]

This fixed it for me in, v4.3.2

[2016-12-20 02:23] #22 closed

[2016-12-20 13:09] mikkom commented on #44
@garetmckinley I guess this can be closed now as well since #45 has been merged?

[2016-12-20 13:26] jjstrat3 commented on #44
@mikkom @garetmckinley haven't had a chance to test it yet again, but I'll pull latest as soon as I get to the office in the next hour

[2016-12-20 16:40] jjstrat3 commented on #44
@mikkom @garetmckinley pulled latest from `master`, and everything seems to build fine.  I'll go ahead and close this.  Thanks!

[2016-12-20 16:40] #44 closed

[2016-12-20 17:12] garetmckinley commented on #44
Awesome, glad to hear @jjstrat3 👍

[2016-12-24 16:58] garetmckinley opened #46 "Change the way hedron handles gutters"
### From Slack:
![screen shot 2016-12-24 at 11 42 29 am](https://cloud.githubusercontent.com/assets/1624279/21467994/199cfed4-c9ce-11e6-98e3-06b97b21c77a.png)

So the above thought happened in the jsbro slack room. I want to integrate a better gutter system that better suits the "flexbox way".

Unfortunately, it appears I'm not far off from the "flexbox way"; as [this stackoverflow answer](http://

[2016-12-24 17:16] #43 closed

[2016-12-29 17:07] dnecklesportfolio opened #48 "Question: How would one right align a column?"
http://www.webpackbin.com/41ytb40Nf

If I wanted to right align everything in the first column, not just the h2, how would i achieve that?

[2016-12-29 17:32] dnecklesportfolio commented on #48
I would have to nest col/row with another one unfort

[2016-12-29 17:32] #48 closed

[2016-12-29 17:48] garetmckinley commented on #48
You mean [like this](http://www.webpackbin.com/EyqHqERNf)? Not sure if I'm understanding correctly

[2016-12-29 18:12] dnecklesportfolio commented on #48
You understand me quite right. I may have missed but can you show me in the
docs where u could add that style object... I am new to this new inline CSS
concept but I could have sworn I didn't see that you can add a style object
to the column.
On Thu, Dec 29, 2016 at 12:48 PM Garet McKinley <notifications@github.com>
wrote:

[2016-12-29 18:15] garetmckinley commented on #48
This isnt something documented in Hedron because its a feature of React. See the docs here for more info https://facebook.github.io/react/docs/dom-elements.html#style

[2016-12-29 18:20] dnecklesportfolio commented on #48
Dang it  yes because Row and columns are component too sorry about that.
Thank you.
On Thu, Dec 29, 2016 at 1:15 PM Garet McKinley <notifications@github.com>
wrote:

[2016-12-29 18:25] garetmckinley commented on #48
No worries man, happy to help :)

[2016-12-29 20:14] zsherman opened #49 "Vertically centering rows"
Is there a recommended way to do this or should we just specify whatever styles directly on the `<Page>` component?

[2016-12-29 21:18] garetmckinley commented on #49
The way to officially handle this within flexbox is by using the `justify-content` property. I ported this property to hedron in the form on the `justifyContent` component property (outlined [here](https://github.com/JSBros/hedron/wiki/Grid-System#row-options) on the wiki).

[Here's an example](http://www.webpackbin.com/Ny59owCVG) of `justifyContent` in action. Let me know if this answers your que

[2016-12-29 21:20] garetmckinley commented on #49
Admittedly, I need to work on ramping up the wiki documentation. If you're not familiar with the flexbox system, it would be fairly obscure what the properties outlined in the wiki actually do. Seeing as the whole point of hedron is to abstract away the complicated flex stuff, I really need to document them better.

`justifyContent` sets the flex-align on the vertical axis, `alignContent` sets the

[2016-12-29 21:22] zsherman commented on #49
Oh yeah I'm familiar with flexbox, I was asking about centering rows within a page, not just centering inside the rows themselves.

[2016-12-29 21:22] zsherman commented on #49
For now I just added my own flex styles in a `style` object but it would be nice if you could add flex attrs to the `<Page>` component

[2016-12-29 21:25] garetmckinley commented on #49
Ah, sorry for misunderstanding. Yeah that's a valid workaround; would definitely be nice to add that feature, so thanks for the suggestion! Any ideas on what an ideal API would look like for you?

[2016-12-29 21:28] zsherman commented on #49
Cool no worries, thanks for the library!

Thought the way http://roylee0704.github.io/react-flexbox-grid/ handles it was quite good/obvious.

[2016-12-29 21:48] garetmckinley commented on #49
Thanks, I'll check it out 👍

[2016-12-30 14:43] garetmckinley opened #50 "Make the Page component more useful"
Adding this issue as an official discussion thread for some new enhancements to the `Page` component. Currently this component functions as simply a wrapper. It defaults to `960px` wide and horizontally centered using `margin: 0 auto`. It also accepts the `debug` property and passes it on to all it's children.

It's usefulness stops there though, but I think it has the potential to be so much more

[2016-12-30 15:16] garetmckinley commented on #50
I'm also in the process of integrating react-storybook for visual testing of the grid system. It gave me the idea to implement another property for debugging (something like `debugColor`), to set an absolute color for the debug boxes.

![screen shot 2016-12-30 at 10 10 23 am](https://cloud.githubusercontent.com/assets/1624279/21567201/496bacf6-ce78-11e6-9699-845947347f47.png)

It's made to be supe

[2016-12-30 15:41] garetmckinley commented on #49
I have officially added this to the roadmap, feel free to drop by on #50 with any additional input/suggestions you might have before I begin the implementation 😄

[2016-12-30 15:51] zsherman commented on #49
thanks @garetmckinley, will do!

[2016-12-31 14:39] #29 closed

[2017-01-26 14:40] garetmckinley opened #56 "Replace Row/Column with Container/Box"
This is something that @matthamil and I have been discussing in our [slack](https://jsbro.slack.com) room. Basically, the `Row`/`Column` approach really doesn't make sense with flexbox, since flexboxes can be either horizontal or vertical.

Since `1.0.0` will be the first official release with breaking changes, it makes sense to go ahead and resolve the problem then rather than perpetuating an out

[2017-01-31 22:31] jonasws opened #60 "Fix build so that it doesn't bundle React?"
At the moment, when using Webpack to include the module, React is bundled, causing the bundle to be much larger than necessary. Also, the `main` field in `package.json` should perhaps point to `lib/index.js`?

These may well stem from me having a bug in my webpck config, but I don't seem to have similar problems with other modules.

[2017-01-31 23:09] garetmckinley commented on #60
Hmm, I think this is because React is listed as a dependency rather than a peer dependency. I'll investigate and see if I can patch it in the morning.

Thanks for the report!

[2017-02-01 06:39] jonasws commented on #60
This should perhaps also be done for the `styled-components`?

[2017-02-01 11:08] garetmckinley commented on #60
I don't think so, since having `styled-components` installed isn't a requirement. Once [`babel-plugin-styled-components`](https://github.com/styled-components/babel-plugin-styled-components) is more mature, it'll help slim down the bundle size of including `styled-components`.

[2017-02-05 11:32] #60 closed

[2017-02-05 19:50] garetmckinley commented on #27
Since `react-native` now [supports percentage based dimensions](https://github.com/facebook/react-native/commit/3f49e743bea730907066677c7cbfbb1260677d11), porting hedron should be very trivial. I'm hoping that somebody who has more experience than me in `react-native` can tackle this. I could attempt to add support myself, but I'm not too well versed in `react-native`, and I definitely want it to

[2017-02-12 20:32] pungggi commented on #56
I absolutely agree, very clean, i like this approach>

[2017-02-13 16:13] garetmckinley commented on #56
@pungggi glad you think so! This proposal is being worked on currently in the [`1.0.0`](https://github.com/JSBros/hedron/tree/1.0.0) branch. Feel free to clone it and test it out! It's still in it's early phases, so not ready to be used in a real application yet. But you can run `yarn storybook` to see it in action 😄

[2017-03-09 11:15] Gyvastis opened #64 "Page component docs missing"
Hey there. I have struggled a bit to get `hedron` working the way I wanted it to and I found the thing I was missing in the source of `Page` component. It's not specified in the docs that the `fluid` property can be used with the Page component. It now seems obvious, but for new people, this could be frustrating.

[2017-03-09 14:58] garetmckinley commented on #64
Thanks a lot for the report, I've added some [basic documentation](https://github.com/JSBros/hedron/wiki/Grid-System#page-component) for the `Page` component.

[2017-03-09 14:58] #64 closed

[2017-03-25 23:30] chhuang opened #65 "Is 1.0.0 going to be backward compatible with 0.x.x?"

[2017-03-27 01:21] chhuang commented on #65
For a new project, would you recommend to use 0.x.x or wait? What is the ETA for 1.0.0?

[2017-04-02 03:15] garetmckinley opened #66 "[v1.0.0] passing `gutter={0}` on LayoutProvider doesn't set gutter to 0px"
The below layout will get rendered with a `20px` gutter, when it should be rendered with a `0px` gutter. This is due to [this line](https://github.com/JSBros/hedron/blob/1.0.0/src/components/LayoutProvider.js#L67).

[code]

[2017-04-02 15:57] garetmckinley commented on #65
That depends what type of project it is. If it's a serious project that needs stability, you're probably better off using the pre `1.0.0` releases. If it's a personal project and you're willing to put up with a few bugs while it's in development, you can try out `1.0.0` by using `npm install --save hedron@next`. Just make sure to report all issues you encounter on the bug tracker and I'll try to g

[2017-04-12 10:59] 0x80 commented on #39
Maybe in line with the proposed Container/Box replacing Row/Column, you could call the component `ContainedBox`

[2017-04-12 11:07] 0x80 opened #67 "Shift not overruled by larger breakpoint?"
In the flowing code, the shift is not 0 at md and above. Am I misunderstanding the API? I would expect the shift only to occur from sm to md.

[code]

[2017-04-12 19:18] garetmckinley commented on #67
Thanks for the issue report! This is actually a bug, `mdShift` is not overriding `smShift` because the value for `mdShift` is `0`, which is equal to no value. Since hedron thinks there's no value set for `mdShift`, it doesn't override `smShift`. A workaround for now would be to use a string value for `mdShift`.

Like this: https://www.webpackbin.com/bins/-KhYZwKLLE0C5JuNjHik

It's going to spit ou

[2017-04-12 19:24] 0x80 commented on #67
I was just playing around but it's good to know that the behavior I was expecting was correct. I will switch to 1.0 now, since that one seems to have a lot of improvements in general 👍

[2017-04-12 19:29] garetmckinley commented on #67
It's not fully documented yet, but you can view the 1.0.0 storybook [here](https://35aca43a-4bb2-430d-afe9-a23e2a8d43cf.sbook.io/). It's still under heavy development, so if you have any questions or comments for us don't hesitate to reach out either on here or in our [slack group](https://slackin-xtuseyimsc.now.sh/)

[2017-04-19 21:26] olegreznichenko opened #69 "Bundle size"
What do you say to split the modules into files?
[code]

[2017-04-19 22:49] garetmckinley commented on #69
What would be the biggest advantage of doing this? I know for large libraries this would help cut down on size, but in order to use hedron you really have to use all the available components.

I might be missing something though, I'm not incredible knowledgable on optimizing size!

[2017-04-20 09:25] olegreznichenko commented on #69
Hedron size in my bundle is 95kb, event if i replace like this
P.S. webpack takes in default `dist/hedron.js`
[code]
size the same
in `hedron.es.js` i dont se normal ` import styled-components`, and when webpack build. he dont understand hedron's styled-components, and in output i have double "styled-components".
Mine is first, which i build UI. second hedron`s

[2017-04-25 19:49] motakbiri opened #70 "Interactive Example not working."

[2017-04-26 20:24] garetmckinley commented on #70
I'll look into it, thanks for reporting!

[2017-05-08 19:14] gregorskii opened #71 "SSR Components render unstyled at first when used with SSR"
I am finding when I include Hedron in a SSR app the initial display of the component from the markup is missing the styling. After loading React rerenders with the correct styles.

This is likely related to `styled-components`, but I don't know what I need to add to make this work. I am already doing a bunch of work on my server bundle and client bundle for css-modules. Does this library require m

[2017-05-08 20:47] gregorskii commented on #71
I tried the babel plugin for styled components, did not work for me.

`babel-plugin-styled-components`

[2017-05-09 01:47] therealedsheenan opened #72 "getting prop-types warning..."
![screen shot 2017-05-09 at 10 46 59](https://cloud.githubusercontent.com/assets/10054876/25832337/ea62bfa4-34a4-11e7-8027-f88233d05e2b.png)

Any idea about this?

[2017-05-09 16:23] garetmckinley commented on #72
Did you upgrade to the latest release? `0.6.1` should have this resolved

[2017-05-10 01:51] therealedsheenan commented on #72
Sorry my bad. I have updated the dependency.

[2017-05-10 01:51] #72 closed

[2017-05-10 08:56] bntzio commented on #71
@gregorskii what i did to fix this some time ago on my site was to replace the hedron style components (Row, Page, Column) in my styled-components file, something like this:

[code]

With that, the SSR will work on your app, since you're already server-side rendering your styled-components I guess, the thing is, Hedron doesn't add support for SSR as far as I know.

Check my full commit on the fix

[2017-05-10 14:38] gregorskii commented on #71
Thanks, seems like a workaround. Any plans to make Herron support SSR? I think it would need a webpack plugin to auto compile the styled-components.

[2017-05-10 15:39] garetmckinley commented on #71
I'll have to do some research into how to make hedron compatible with SSR. If anyone has any ideas I'd love to hear them, since I myself don't really use SSR :+1:

[2017-05-10 18:49] gregorskii commented on #71
I think it has to do with compiling `styled-components` code with babel internally before realizing the dist version of this code. Or if one wants to use the raw components uncompiled having a webpack loader that compiles `styled-components`. The issue now is one would have to add webpack config to handle styled components in the server script builder.

I am not an expert on SSR, working through i

[2017-05-13 18:36] dnecklesportfolio opened #73 "is it possible to get rid of the default padding top on a column"
i tried adding
![image](https://cloud.githubusercontent.com/assets/2013689/26028198/86889f92-37e9-11e7-82e4-ec9d718dda17.png)
where right is
![image](https://cloud.githubusercontent.com/assets/2013689/26028200/8cff4600-37e9-11e7-8d66-1a07d1358a2c.png)

but it didnt work.. is my syntax the problem

[2017-05-13 20:42] garetmckinley commented on #73
The property is called ´style´ but you have ´styles´ written. Its a mistake I used to make all the time, rename it and it should work.

[2017-05-15 07:47] therealedsheenan commented on #73
uhm `fluid` option?

[code]

[2017-05-15 18:13] garetmckinley commented on #73
That would work to remove all the padding, but I think he's just trying to remove the top padding.

[2017-05-16 01:14] therealedsheenan commented on #73
I just find it inconsistent when you inline the styles on styled-components.

I think the `const NewColumn = styled(Column)` is more consistent code for me.

[2017-05-22 18:14] adeleke-togun opened #74 "Invalid webpackbin URL"
"webpackbin" example URL seems to be broken

[2017-05-28 06:08] dfrankland commented on #71
I was able to get SSR to work very nicely with `styled-components`, but I am afraid I may have changed too much of the build process of `hedron` along the way. If you want to test it out, install `@dfrankland/hedron` and give it a spin.

Here's my branch where I've gotten everything working: https://github.com/dfrankland/hedron/tree/fix-ssr

@garetmckinley, I don't mind opening a PR, but what do y

[2017-05-29 01:25] dfrankland commented on #71
I've simplified my changes and opened 2 pull requests for the v1.0.0 and master branches: #75, #76.

As I mentioned before I have tested using `styled-components@^2.0.0` + `babel-plugin-styled-components@^1.1.4` + [next.js](https://github.com/zeit/next.js)

[2017-05-29 01:37] garetmckinley commented on #71
Thanks for your work ! :tada: I'll try to review the changes either tonight or tomorrow.

[2017-06-01 01:37] garetmckinley commented on #71
@dfrankland so I merged both your PRs, and it looks like at least the `1.0.0` branch is still having issues with SSR 😕

[Here's a website deployed with next.js using `styled-components@2.0.0` and `hedron@next`.](https://hedron-site-pbphbvgjll.now.sh/)

[2017-06-02 02:43] dfrankland commented on #71
Hmmm, that's not right. Let me see if I can make a nice quick demo too. I've got `hedron@next` working just fine with `styled-components@2.0.0` and next.js.

[2017-06-02 02:48] dfrankland commented on #71
@garetmckinley, looking at the source page for the website you deployed: https://zeit.co/UOLFz5gDdpr7Itczn7codrDh/hedron-site/pbphbvgjll/source

I don't see your `.babelrc` with a config including `babel-plugin-styled-components`. SSR won't work without it.

[2017-06-02 02:49] garetmckinley commented on #71
🤦‍♂️

[2017-06-02 20:05] garetmckinley commented on #71
@dfrankland so it's still not working for me :slightly_frowning_face:

https://hedron-site-hevnmaqkau.now.sh/

my `.babelrc` looks like

[code]

I'm not very experienced using next.js, so I'm sure it's probably my mistake

[2017-06-02 21:23] dfrankland commented on #71
@garetmckinley, no worries 👌 .

Here's an example with it working: https://hedron-nextjs-ssr-example-vgnzwutwxi.now.sh/

If you'd like to see the source checkout this repo: https://github.com/dfrankland/hedron-nextjs-ssr-example

That example is based on this one: https://github.com/zeit/next.js/tree/master/examples/with-styled-components

[2017-06-02 21:27] garetmckinley commented on #71
Do you think it could be the absence of the `_document.js` file in my project? That's the only visible difference I can see. I was unsure what the actual point of the document was when I was looking over the official docs. I figured next.js shipped with some sort of sensible defaults for rendering the document. But again, I don't know a ton about next. I'll give it a try and see if it fixes my iss

[2017-06-02 21:31] garetmckinley commented on #71
Ah, that did the trick! I'm curious why it wouldn't work without that.

[2017-06-02 21:33] dfrankland commented on #71
Not a problem, glad that I could help out! 👍

`_document.js` is used to collect the styles from the rendered page, then insert them as a string into the `<html>...</html>` response. The built-in `_document.js` isn't aware of collecting styles in a way that `styled-components` would need, therefore a custom `_document.js` is needed.

[2017-06-02 21:35] garetmckinley commented on #71
Makes sense, thanks for the explanation! I suppose I can close out this issue now :smile:

[2017-06-02 21:35] #71 closed

[2017-06-05 00:47] garetmckinley opened #80 "1.0.0 Release Checklist"
## `LayoutProvider`

- [x] allow custom debug fill colors/outlines to be set on `LayoutProvider`.
  - Ideal API: `<LayoutProvider debug={{ enabled: true, outline: 'solid 10px green', fill: 'blue' }}>`
  - Notes:
    - Debug fills need to always be have an alpha of `.15`, even when a solid color is passed in.
    - The alpha **cannot** be set using `opacity: .15`, this would cause the contents to a

[2017-06-05 01:04] #56 closed

[2017-06-05 01:05] garetmckinley commented on #69
The hedron bundle is now down to `14kb`, the `1.0.0` branch is down to `8kb` 🙌

[2017-06-05 01:05] #69 closed

[2017-06-05 01:06] brukh commented on #80
Working on updating the `LayoutProvider` debug options 😎

[2017-06-05 01:06] garetmckinley commented on #65
1.0.0 is nearing release and will not be backwards compatible. We're still working on the documentation, but you can demo it on http://hedron.rocks

[2017-06-05 01:06] #65 closed

[2017-06-05 01:16] garetmckinley commented on #80
I'm currently pulling my hair out trying to fix the safari issues 😎

![c4jt321](https://cloud.githubusercontent.com/assets/1624279/26767150/1da23612-496b-11e7-88a5-46db7ba237b9.png)

[2017-06-06 08:30] sonnenfeld269 opened #81 "Support Server Side Rendering"
I am using next.js for server side rendering. I managed to use styled components because they support ssr now, but I have still problems with hedron.

[2017-06-06 17:09] garetmckinley commented on #81
Hedron supports SSR as well in both `0.7.1` and `1.0.0-beta.6`. You need to elaborate on what you're having problems with.

[2017-06-07 02:41] brukh commented on #80
Adding flowtype and section docs 💻

[2017-06-07 03:08] garetmckinley commented on #81
SSR was discussed a bunch in #71, make sure you have the babel plugin working.

[2017-06-14 18:12] timscott commented on #46
The way padding is handled creates another problem. Consider this example:

[code]

It will appear like this

[code]

In other words, nested rows and columns will recursively indent by the default padding amount.

I could make evert column fluid, but no, because I want gutters and vertical padding of rows.

I believe old school grid systems handle this by putting negative right and left margins on

[2017-06-14 18:17] garetmckinley commented on #46
Yeah the biggest issue with using negative margins is that flexbox enables "wrapping", so using `:first-child` and `:last-child` selectors aren't reliable, since it's highly possible that the last/first child isn't the only child sitting against an edge. It's one of the last big pieces of the puzzle before I can release 1.0.0, but we're still a bit unsure the best way to implement it. I've tried a

[2017-06-28 17:22] sonnenfeld269 commented on #81
yes, updated to a new version, now its working...

[2017-06-28 17:22] #81 closed

[2017-07-11 08:48] Ron-Yu opened #83 "Parse error when implement both justifycontent/alignitems on Row component"
When I  implement both  justifycontent and alignitems props on Row component, it seems that parse error. If I just implement either justifycontent or alignitems, everything is fine.

![image](https://user-images.githubusercontent.com/5327305/28060036-9b2d76dc-6658-11e7-893c-f29599c513d0.png)

[2017-07-12 02:18] garetmckinley commented on #83
Thanks for the report! Looks like it might be getting caused from a missing semi-colon in the styles. I'll look into it and try to get a patch published tomorrow 😄

[2017-07-12 20:35] kdosburn opened #84 "Struggling to change margins"
Any help is greatly appreciated!

[2017-07-12 22:28] garetmckinley commented on #84
Are you referring to the padding? If you're not using the `@next` version of hedron, there's no real elegant solutions.

Your options for changing the padding are:
#### Overriding via inline styles

[code]

#### Overriding via styled-components

[code]

If you're talking about shifting elements via margin-left` , you can do that with [the shift properties](https://github.com/JSBros/hedron/wiki/Gri

[2017-07-16 18:05] CharlieIGG opened #85 "Error in Page documentation"
Hi, just a heads up:

On the Grid docs, it says that Page takes a parameter `fluid` of type `Number`, but apparently it's `PropTypes` expect it to be a `Boolean` instead.

Cheers!

[2017-07-26 11:18] apacicaps opened #86 "Extending Row & Column styling"
Hi,
I'm trying to use Hedron, but I'm running into trouble, when I try to extend Row and Column.
I need to set e.g. background-image, background-color, etc.

[code]

But when I then use my DefRow and DefCol, they become kind of "double nested" and all columns fill out the entire width instead of being e.g. one third of the row.
Any suggestions for a fix? Am I maybe extending in a wrong way?

[2017-07-26 16:44] garetmckinley commented on #86
So it looks like for whatever reason `divisions` isn't working, but the rest of the code is! I'll look into it, but for now maybe just try using a 12 division grid: https://www.webpackbin.com/bins/-KpzlAWHX6cmDgGhP8FZ

[2017-07-26 20:03] stephenmathieson opened #87 "Error: Can't resolve 'styled-components'"
Recently updated `hedron`, but it seems to be missing a dependency:

[code]

Maybe we should make note of the fact that you _must_ have `styled-components` installed in order to use `hedron` in the README?

[2017-07-26 20:03] stephenmathieson commented on #87
Ah, it's a peer dep. I see Yarn warning me about it now.

Why is it a peer dep?

[2017-07-26 21:21] garetmckinley commented on #87
It was done before there was a ton of optimizing on styled-components, so including sc increased the bundle size dramatically. Also it was around the time the community was split between v1 and v2. Now that it's optimized more and v2 is officially released, we can probably start packaging it back in. If you wanna submit a PR with it included that'd be great 😄

[2017-07-27 06:32] apacicaps commented on #86
Thank you for looking into it :)

[2017-07-31 08:55] Ron-Yu commented on #83
hello, is there any feedback ? 😎

[2017-08-02 13:20] iktl commented on #87
As a counterpoint to this, on projects that are otherwise using `styled-components` having it as a peer dependency is preferable to ending up with it bundled twice.

[2017-08-15 01:59] stephenmathieson commented on #87
@garetmckinley sure thing, PR incoming!

@iktl your bundler should handle this for you. Both `browserify` and `webpack` do this by default.

[2017-08-15 13:39] iktl commented on #87
@stephenmathieson: Perhaps my understanding and configuration of Webpack is flawed; when I look at my bundle with an analyzer I can see that `styled-components` is included in my primary bundle and also again as a child of `hedron`.

As far as I'm aware, Webpack can't dedupe between a project's source that it's building, and pre-built code from an NPM package. If I'm missing something though let m

[2017-08-15 18:47] garetmckinley commented on #87
Yeah this is actually something I've been thinking about a lot recently, and is one of the reasons styled-components was moved to a peer dependency.

Including styled-components inside hedron will cause it to be included twice in your app bundle. It shouldn't be a *huge* deal since styled-components has shrunk a lot in size (14kb gzipped I believe), but any extra kb is bad kb. Since hedron is adve

[2017-08-15 18:49] garetmckinley commented on #87
Also, even if your bundler could dedupe (which as @iktl,  I don't think webpack is capable of doing ) the extra dependency, in order for that to happen the user would have to be using an identical version of styled-components as hedron is using (which would hardly ever happen).

[2017-08-15 18:52] garetmckinley commented on #87
I think I'm just gonna bite the bullet and say "fuck it, ship it" to hedron `1.0.0` this weekend. I'll update the docs to mention that styled-components is a requirement to have, and give a brief explanation of why. If you have any objections or reasons why that's a bad idea, let me hear them. But most people who use hedron found it through styled-components, so they're likely already using it.

[2017-08-27 18:39] piotryordanov commented on #74
+1

[2017-10-05 18:38] yasserhennawi opened #90 "A fourth breakpoint."
Can this lib. by any means supports more than 3 breakpoints (including the one before all of them xs) ?

[2017-10-20 09:41] achtan opened #91 "[v1] naming proposal"
Hi, i was a bit confused when i saw the new components naming.

my proposal is :
_current name -> new name_
Section -> Container
Container -> Grid
Box -> Cell

[2017-10-20 09:53] achtan commented on #46
why dont u solve this like Bootstrap ?
[code]

[2017-10-21 09:52] achtan opened #93 "[v1] support width aliases"
support width aliases like:
[code]
is equivalent to:
[code]

[2017-10-21 20:46] garetmckinley commented on #91
I think I like that better than Container/Box, but the only thing I'm concerned about is that Grid implies a 2d matrix. Also there's possible confusion with the recent introduction of css grid.

[2017-10-23 11:48] achtan commented on #91
ok, so what about:
Container -> Matrix :)

[2017-11-08 14:16] Undistraction opened #94 "'View interactive example on webpackbin' link is broken in README"
Links to webpackbin page with the message:

[2017-11-09 15:33] alanhr opened #95 "React version"
Hi,
Could you update react version in hedron v0.7 for remove the warning?

[2017-11-27 15:44] garetmckinley commented on #46
Because negative margins get completely messed up when wrapping (which is one of the biggest selling points of flexbox).

It would be great if there were a css rule to select the first element in that row. Something like

[code]

But I might be dreaming here.

[2018-02-09 11:36] florinpop17 opened #96 "Having a prop for setting the gap between columns"
Would be nice to have a prop to be able to set the **padding** value of the column gaps. Currently is hardcoded to 20px. What do you think?

[2018-04-05 11:04] brandtnew commented on #96
I would love to have this option too!

[2018-04-05 11:05] brandtnew commented on #90
Would be really awesome!

[2018-05-21 18:17] mandriv commented on #86
@garetmckinley I think `divisions` prop is generally not working

[2018-05-22 12:02] saraegtved commented on #86
Since this is still open, I just wanted to let you know, that we created our own grid system, which supports 24 columns.

[2018-05-22 16:59] mandriv opened #97 "Outdated peer dependencies"
Hey guys, first of all - great library, many thanks.

A small issue with `react` and `styled-components` peer dependencies - these are set for quite outdated versions right now.

[code]

Could you update these to use e.g. `react@^16.0.0` and `styled-components@^3.0.0`? That's the setup I am currently using your library and it is working sweet (except for divisions prop I mentioned in another issue

[2018-05-24 17:01] mandriv commented on #96
Props like `p`, `m`, `px`, `py` and `mx`, `my` like in https://github.com/jxnblk/grid-styled would come very useful.

Right now I am just creating extended component like so:

[code]

[2018-05-24 17:06] mandriv commented on #50
I don't think most of these props would be useful, maybe except the flexbox-related ones. Setting custom height or overflow should be done through extending the Page component IMO.

[2018-06-08 12:17] mandriv commented on #97
This is an important issue, can I get any response from the repo maintainers? I could help develop this library further, but right now I am thinking about switching to alternative solutions for my current project.

[2018-06-22 20:02] gareteliot commented on #97
@mandriv are you still using hedron? I apologize deeply, I've been on a development sabbatical for a while now, been dreading digging through all my notifications on here. If you're interested in working with maintaining hedron, I can add you on the repo.

[2018-06-25 22:31] mandriv commented on #97
Hi @gareteliot thanks for getting back to me. We are still using hedron so If possible, I'd love to work on some of the current issues.

[2018-06-26 18:54] gareteliot commented on #97
No problem! Feel free to submit a PR! I'll add you to the org

[2018-07-01 21:47] #94 closed

[2018-08-04 19:32] gerrymi commented on #86
Any updates on this? It seems like the divisions prop in Row isn't being properly passed down to the Columns. For now I'm working around this by manually setting the Column's divisions prop.

[2018-08-11 16:46] mandriv commented on #86
@gerrymi I'll investigate this  once https://github.com/JSBros/hedron/pull/99 is merged

[2018-09-06 21:04] #84 closed

[2018-09-06 21:04] #73 closed

[2018-09-06 21:34] #97 closed

[2018-09-06 21:34] #95 closed

[2018-09-06 21:34] #87 closed

[2018-09-06 21:34] #80 closed

[2018-09-06 21:35] garetmckinley commented on #70
The new interactive examples for 1.0.0 can be found at https://hedron.garet.io

[2018-09-06 21:35] #70 closed

[2018-09-06 21:35] garetmckinley commented on #74
The examples for 1.0.0 now exist at https://hedron.garet.io

[2018-09-06 21:35] #74 closed

[2018-09-06 21:35] garetmckinley commented on #67
This was resolved via 1.0.0

[2018-09-06 21:35] #67 closed

[2018-09-06 21:35] #66 closed

[2018-09-06 21:35] #50 closed

[2018-09-06 21:37] garetmckinley commented on #86
1.0.0 did away with the concept of divisions, and embraces the way flex was meant to be used. There are also lots of CSS properties that are now exposed to the components. So you can do stuff like:

[code]

[2018-09-06 21:37] #86 closed

[2018-09-06 21:50] garetmckinley opened #101 "Warning: Received `true` for a non-boolean attribute"
There's currently a few warnings that are appearing when using `1.0.0`, they look to be all rooted from the same issue, so it shouldn't be too difficult to fix.

Here are two examples that are appearing on https://hedron.garet.io

[code]

[code]

Possibly being surfaced from the [`Base`](https://github.com/garetmckinley/hedron/blob/master/src/components/Base.js) component.

It's odd, because both

[2018-09-06 22:21] mandriv commented on #90
It's now possible in 1.0.0! 🎉 Use `breakpoints` prop in `<Grid.Provider>`.

According to README:
`breakpoints: { key: [int, int] }` - structure: `{ name: [min, max]}`
Defining breakpoints gives you strong control over the way your content is rendered at various screen sizes. Any property that can be set on Grid.Box can be set per-breakpoint. Here's a few things to keep in mind when defining breakp

[2018-09-06 22:21] #90 closed

[2018-09-06 23:49] garetmckinley commented on #90
@mandriv I gotta update that part of the readme, there's actually a different syntax for breakpoints.

An example would look like this:

[code]

The language is basically:

- `-500` == 500px or less
- `750-1000` == 750px - 1000px
- `+1200` == 1200px or greater

[2018-09-07 01:50] #91 closed

[2018-09-07 09:00] yasserhennawi commented on #90
Horay!! Thanks a lot guys, appreciate the good work so much ❤️

[2018-09-07 14:04] garetmckinley commented on #90
@yasserhennawi if you upgrade to `hedron@next` and run into any issues, either open an issue here or open a thread on the [spectrum chat](https://spectrum.chat/hedron). I'm doing a lot of testing over the weekend and will release an official `1.0.0` on Monday :smile:

[2018-09-20 13:10] amcdnl opened #102 "Remove Styled Components"
This project looks great but I won't want to add styled-components as a dependency to my application. Is there any future in which that is no longer a dependency?

[2018-09-29 15:54] garetmckinley commented on #102
Sorry, this library is heavily based on the concepts of styled-components. I am planning to add the ability to swap out styled-components for something like emotion, but I don't plan to move to vanilla react.

[2018-09-29 15:56] garetmckinley commented on #96
This is possible in the latest version of hedron. You can adjust the global padding with the `Grid.Provider` and also with individual grid elements. You can also adjust most other stylistic properties like margin, background, and more. You can checkout the docs [here](https://github.com/garetmckinley/hedron#documentation)

[2018-09-29 15:56] #96 closed

[2018-09-30 20:16] #102 closed

[2018-11-09 22:25] schuylr opened #166 "Hedron breaks with babel plugin"
Using v1.0.0-beta.12, when I add `babel-plugin-styled-components` to my `.babelrc`, everything compiles but the page reports the following:

[code]

My `.babelrc`:

[code]

[2018-12-19 02:18] #101 closed

[2019-02-05 08:53] SamMatthewsIsACommonName commented on #166
Hi @schuylr were you able to find a solution for this?

[2019-02-05 15:12] garetmckinley commented on #166
@SamMatthewsIsACommonName is this something that is still happening?

What versions are your `styled-component` and `babel-plugin-styled-components`? I can look into this later tonight or in the morning, the more info you can give me the quicker I'll be able to resolve it :)

[2019-02-05 16:16] SamMatthewsIsACommonName commented on #166
Hi garet, Sorry don't worry about it, it's from using an old version of Hedron (pre 1.0) and updating react scripts to 2.0, however I was just hoping there was a quick fix that meant I didn't have to migrate which i eventually found (by not having to update react scripts)... anyway long story short I'll just upgrade when we have time and I'm sure the issue doesn't exist on the latest versions. Tha

[2019-02-06 15:28] jim-at-jibba commented on #27
@garetmckinley Is this something you (and others) are interested in? I am happy to spend the time porting this over if you think others would be interested.

[2019-02-07 18:06] garetmckinley commented on #27
That's totally up to you @jim-at-jibba. Native support would be a welcome addition IMO, but I can't speak for the amount of demand there is for it. If it's something that you'd like to tackle, I'll, of course, accept a PR for it :smile_cat:

[2019-02-07 19:22] jim-at-jibba commented on #27
Ok cool. I will have a poke around and see how much work it is. I know i would use it so will probably be worth it. Thanks for merging in my PR

[2019-02-08 01:40] garetmckinley commented on #27
No problem, I appreciate the PR :+1: feel free to reach out if you have any questions. Twitter DMs are probably the quickest way to reach me, but I scroll through my GitHub notifications at least once daily.

[2019-02-09 18:49] #93 closed

[2019-02-09 19:06] garetmckinley commented on #49
This is resolved in v1. Alignment, in general, is now much more flexible and the `Page` component has been removed.

[2019-02-09 19:06] #49 closed

[2019-02-09 19:08] #85 closed

[2019-02-09 19:09] garetmckinley commented on #83
Fixed in v1

[2019-02-09 19:09] #83 closed

[2019-02-13 15:01] georgeevans1995 opened #195 "Media queries not output in the right order"
The new Grid Breakpoints don't always render in the correct order. For example this is the output I get for breakpoints:
{
  xs: "+10",
  lg: "+1000",
  xl: "+1301"
};

[code]
Because they are not output in the right order it means that the styles for breakpoint 1000px are never able to be used/applied due to css always using the last values in the css.

[2019-02-13 20:53] jim-at-jibba commented on #195
@georgeevans1995 I cant consistently recreate this. Let's chat about it tomorrow.

[2019-02-13 22:56] garetmckinley commented on #195
@georgeevans1995 if possible, can you create a [codesandbox](https://codesandbox.io) demo of the problem? I haven't personally run into that issue

[2019-02-19 12:16] jim-at-jibba opened #205 "shiftRight={true} not working"
shiftRight={true} causes react to give this warning
`React does not recognize the` shiftRight` prop on a DOM element. `

[2019-03-13 01:59] narwold opened #223 "New release"
Please version this up when you get a chance. I was trying to get around the "Received `true` for a non-boolean attribute `wrap`" error and see that it was fixed in December, but the last release was September.

[2019-03-27 20:19] motleydev opened #234 "Webpack Aliases not working after adding Hedron Next"
After adding Hedron next my webpack aliases stopped resolving. Any idea why?

[2019-03-28 14:05] #234 closed

[2019-03-28 14:06] motleydev opened #235 "width aliases not working"
Using width aliases just passes the value to straight to the css.

[2019-04-03 07:10] motleydev commented on #223
Any status on this @garetmckinley ?

[2019-08-29 08:45] bakeruk commented on #205
+1

[2019-10-29 01:37] garetmckinley opened #329 "Hedron v2.0.0"
It's been a while since hedron has seen any major improvements. But I have some big plans for v2.0.0. It's going to get some features that will make it a smart and somewhat opinionated layout system.

The problem I have with most layout systems, is that they do one thing pretty well. However, the more complex your app gets, the more typing you have to do on your layout system. Not just creating wr

[2019-10-29 13:37] motleydev opened #330 "CamelCase Css properties get ignored in breakpoints."
This produces no padding.

[code]

This works fine.
[code]

[2019-10-29 18:03] garetmckinley commented on #330
Thanks for the report! The issue is that currently, the supported styled are [hardcoded here](https://github.com/garetmckinley/hedron/blob/master/src/helpers.js#L43-L59)

I'm going to go ahead and rewrite the `generateStyles()` function to allow more modularity with the styles. I'll update you here :ok_hand:

[2019-10-29 18:47] garetmckinley commented on #330
Just released v1.0.1, which has the fix for this in it. Let me know if you have any other issues :smile_cat:

[2019-10-29 18:47] #330 closed

[2019-10-29 19:11] garetmckinley commented on #235
Do you have any examples of it? They seem to be working fine for me

[2019-10-29 19:13] garetmckinley commented on #223
1.0.0 and 1.0.1 have been released recently, I'd recommend upgrading to them for the latest fixes

[2019-10-29 19:13] #223 closed

[2019-10-29 19:13] #166 closed, assigned to nobody

[2019-10-29 19:14] garetmckinley commented on #195
closing inactive issue, reopen if you want to continue the discussion

[2019-11-14 04:21] garetmckinley commented on #235
closing due to inactivity. If you are still having this issue or have additional information to aid in debugging, feel free to reopen.

[2019-11-14 04:21] #235 closed

[2019-11-14 04:25] #46 closed

[2019-11-14 04:25] #38 closed

[2019-11-28 18:17] vladpalkanov opened #334 "Remove console.log"
Remove console.log

[2019-11-28 19:18] vladpalkanov commented on #334
#335

[2019-11-29 03:51] #334 closed

[2020-01-08 15:50] georgeevans1995 opened #336 "Tag/release latest version to npm"
Hi @garetmckinley,

A PR recently to remove some logs was approved and merged but as you haven't tagged a new version the default install from npm includes the console logs still. Could you tag /release the latest code please? 😄

P.S.Love this library, great work!

[2020-01-08 18:31] garetmckinley commented on #336
Oh my bad! Yes, I can do that when I get back from work later today. I'll update this issue when I do it :)

[2020-01-14 14:43] georgeevans1995 commented on #336
Hi @garetmckinley any chance you could do this when you get a minute? Think you may have forgot :D

[2020-03-21 18:42] GFargo commented on #336
Just spent the last 2 days debugging an issue that was solved with #335, however my project is still broken because this update hasn't been pushed to NPM.

This is a breaking change for me as it causes Netlify to error out because it's trying to log too many lines.

[2020-04-01 21:57] jkolyer commented on #336
Yeah Please Update NPM.  Just bump the version number and push.

[2020-05-01 20:32] pistach3 commented on #336
Hi !
I guess hedron's logs from the console are related to this issue.
Could you push the latest commit on npm ?
Thank you

[2020-07-02 15:45] Volence commented on #336
@garetmckinley hey sorry to bother, but any chance you can do a release on this? Gonna be pulling directly from this directory until then (which isn't ideal hah). Thanks!